BOT_TOKEN=
ADMIN_IDS=
DATABASE_URL=
PUBLIC_URL=
STORE_NAME=Prime Hub
CURRENCY=usd
SUPPORT_USERNAME=
WELCOME_IMAGE_FILE_ID=
NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=
WALLET_ADDRESS=
BINANCE_PAY_ID=
UPI_ID=
UPI_NAME=Prime Hub
UPI_INR_PER_USD=86.5
